<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body style="color:blue;text-align:center; background-color:lightblue;">

	<header>
		<div class="container">
		
		<h1 style="color:Black;text-align:center;">Sentiment Analysis</h1><br>
		
		
		</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p style="color:Black;">Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
		</form>
	</div>

	
	

</body>
</html>
